@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Dancing+Script:wght@500&family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Chewy&family=Dancing+Script:wght@500&family=Poppins:wght@500;600;700;800&display=swap');
/*bungee*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/*paytone one*/


* {
  padding: 0%;
  margin: 0%;
  color: white;
  list-style: none;
}





 /*---------------------MENU CABECERA------------------*/


.section-white {
  background-color: #e8ecf8;
}

.header {
  height: 100vh;
  width: 100%;

}

.navbar {
  padding: 15px 18px;
}

.logo {
  font-weight: 600;

  color: rgba(0, 0, 0, 0.848);
}

.navbar-brand.logo {

  font-family: paytone one;
  letter-spacing: 5px;
}

.primera-letra-color {

  font-size: 30px;
  color: #2d3d8a;
}

.nav-item .nav-link {
  color: rgba(0, 0, 0, 0.92);
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: paytone one;
}

.nav-item {
  margin: 0px 40px;
  padding-top: 20px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: #2d3d8a;

  width: 0px;
  height: 3px;
  transition: 0.4s ease-in-out;

}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.nav-link:hover {
  color: #2d3d8a;
}

.btn-navbar {
  display: inline-block;
  padding: 10px 43px;
  border: 1px solid #2d3d8a;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  background-color: #2d3d8a;
  transition: 0.2s ease;

}

.btn-navbar:hover {
  background-color: transparent;
  color: #2d3d8a;
  border: 1px solid #2d3d8a;
}

.navbar-brand:hover {
  color: white;
}





 /*--------------------- INICIO------------------*/



.content-home2 {

  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*Titulo  soy arnau*/

.home-heading {
  font-family: paytone one;
  font-size: 50px;
  font-weight: 700;
  line-height: 74px;
  color: rgb(0, 0, 0);
  animation-duration: 3s;
  animation-name: slidein;
}

/*animacion*/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.home-span {
  color: #2d3d8a;
;


}


.para-home {
  font-size: 13px;
  font-weight: 500;
  color: black;
  max-width: 400px;
  line-height: 24px;
  margin: 14px 0px;
  font-family: poppins;


}


.home-links {
  display: inline-block;
  text-decoration: none;
  background-color: #2d3d8a;
  ;
  border: 1px solid #2d3d8a;
  background-image: linear-gradient#2d3d8a;
  color: wheat;
  margin: 20px 0px;
  margin-right: 7px;
  border-radius: 50px;
  padding: 10px 37px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s ease;


}



.home-links:hover {
  background-color: transparent;
  background-image: none;
  color: #2d3d8a;
  border: 1px solid #2d3d8a;
}


.img-home {
  width: 100%;
  max-width: 800px;
  margin-right: 20px;

}




/*---------------------ABOUT------------------*/
.section-blue {
  background-color: #2d3d8a;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 60%;
  order: 2;
}

#carouselExample .carousel-inner img {
  border-radius: 15px;
  margin-top: 60px;
  width: 100%;
  height: px;
}




@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.about-col-2 {
  /*controlar el tama침o*/
  flex-basis: 35%;
  order: 1;
}

.sub-title {
  font-size: 60px;
  font-weight: 500;
  color: white;
  font-family: paytone one;
  margin-bottom: 30px;
  animation: slideIn 1.5s ease-out;

}

.about-col-2 p {
  animation: fadeIn 2s ease-out;
}











.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  height: 40px;
  margin-top: 40px;
}

.tab-links {
  font-family: paytone one;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #5c70d6;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}


.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul {
  margin-top: 0px;
  padding-left: 0;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #5c70d6;
  font-size: 14px;
  font-family: paytone one;
}

.tab-contents {
  display: none;
  height: 300px;
  overflow-y: auto;
}

.tab-contents.active-tab {
  display: block;
}






/*---------------------TARJETAS PROYECTOSS------------------*/



.sub-title1 {

  font-size: 60px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: paytone one;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 50px;


}


.container1 {
  padding-top: 70px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;

}

.row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  


}



@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.card {
  width: calc(33.333% - 20px);
  background: none;
  border: none;
  margin-left: 50px;
  animation: fadeInFromBottom 0.8s ease-out;
  animation-fill-mode: backwards;


}

.card .box {
  width: 300px;
  height: 200px;
  transition: .5s;
  background: none;

}

.card .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustar la imagen sin distorsionar */
}


.card .box.box1 {
  position: relative;
  background: #2d3d8a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);

}

.card:hover .box.box1 {
  opacity: .5;
  transform: translateY(0);
}



.content h3 {
  position: relative;
  top: -20px;
  padding: 10px;
  color: #fff;
  background: #2d3d8a;
  text-align: center;
  font-size: 20px;
  letter-spacing: px;
  font-family: paytone one;

}

.card .box.box2 {
  position: relative;
  background: #2d3d8a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /*cambiar la posici칩n  elemento sin afectar el dise침o*/
  transform: translateY(-100px);
}


.card:hover .box.box2 {
  transform: translateY(0);

}



.content p {
  margin: 10px 0 0 0;
  padding: 0;
  
}

.content a {

  margin: 15px 100px 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.content a:hover {
  background: #2d3d8a;
  color: #fff;
}




/*---------------------HABILIDADES------------------*/


.sub-title2 {
  padding-bottom: 100px;
  padding-top: 100px;
  font-size: 60px;
  font-weight: 500;
  color: white;
  font-family: paytone one;
  margin-bottom: 30px;
  text-align: center;
}

.contenedor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 200px;
}

.contenedor .progess {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  color: #fff;
  background: #262263 linear-gradient(to right, transparent 50%, var(--clr) 0);
}


.contenedor h3 {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50% -50%);
  font-size: 3em;
  z-index: 1;
  font: 500;
  font-family: paytone one;
}


.contenedor .progess h3 span {
  font-size: 0.65em;
  font-weight: 400;
}


.contenedor .progess h4 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
  font-family: paytone one;
}

.contenedor .progess::after {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: #2d3d8a;
}

.contenedor .progess::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;

}


.contenedor .progess::before {
  background: var(--clr);
  /*rotacion al elemento usando una variable personalizada --i*/
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}


.contenedor .progess.less::before {
  background: #444;
  transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}





/*---------------------CONTACTOOOO------------------*/

.section-white3 {
  background-color: #e8ecf8;
  padding-top: 100px;
}

.sub-title4 {

  font-size: 60px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: paytone one;
  text-align: center;


}


.container3 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #2d3d8a;
  position: relative;
}



/*flecha formulario*/
.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #2d3d8a;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}



form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}



/* general entrada*/
.input-container {
  position: relative; 
  margin: 1rem 0; 
}

/* Estilos campos de entrada */
.input-container label {
  position: absolute; 
  top: 0; 
  left: 0; 
  font-size: 0.8rem; 
  padding: 0 0.4rem; 
  color: #fafafa; 
  transition: 0.5s; 
  pointer-events: none; 
  line-height: 1.5;
}

/* Estilos campos de entrada texto*/
.input-container input,
.input-container textarea {
  width: 100%; 
  box-sizing: border-box; 
  border: 2px solid #fafafa; 
  background: none; 
  padding: 0.6rem 1.2rem; 
  color: #fff; 
  font-weight: 500; 
  font-size: 0.95rem; 
  letter-spacing: 0.5px; 
  border-radius: 25px; 
  margin-bottom: 1rem; 
}


.input-container input:focus,
.input-container textarea:focus {
  outline: none; 
  border-color: #2d3d8a; 
}


.input-container label,
.input-container input:focus + label {
  top: -20px; 
  transform: translateY(0); 
  font-size: 0.8rem; 
}




.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff; 
  color: #2d3d8a; 
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent; /* Cambia el fondo al pasar el rat칩n */
  color: #fff;
}


.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #2d3d8a;
  font-size: 2em;
  font-family: paytone one;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {

  display: flex;
  color: #000000;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
  position: relative;
  /* Add this line */
  z-index: 1001;
  /* Set a higher z-index value */

}



.info p {
  color: #000000;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #2d3d8a;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}